<!DOCTYPE html>
<html ng-app>
    <head>
        <script src="angular-1.8.2/angular.js"></script>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> -->
        <script type="text/javascript" src="todo.js"></script>
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    </head>
    <body>
        <!-- Uno -->
        <div ng-controller="TodoCtrl">
            <h2>
                Total todos: {{totalTodos}}
            </h2>
            <ul>
                <!-- <li ng-repeat="todo in todos">

                </li> -->
            </ul>
        </div>
        <!-- Dos -->
        <!-- <input type="text" ng-model="name">
        <h2>Hello {{name}}</h2> -->
    </body>
</html>